.img-logo {
    width: 5rem;
}

.img-user {
    width: 4rem;
}

/* Ícones de Botão */
.btn-icon-header {
    background: none;
    border: none;
    cursor: pointer;
}

/* Media Queries */


.nav-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60vw;
    background-color: #FFD864;
    flex-direction: column;
    padding: 16px;
    animation-duration: 0.8s;
    z-index: 1;

}

.nav-links a {
    color: #000000;
}


.nav-links.show {
    display: flex;
    margin-left: 0;
}


.nav-links li {
    margin: 10px 0;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.user {
    display: none;
}

.btn-menu {
    width: 5rem;


}


.btn-close {
    width: 1rem;
}


.btn-login {
    background-color: #dab547;
    width: 3rem;
    height: 1 rem;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-radius: 1rem;

}

@keyframes showSideBar {
    from {
        margin-left: -100vw;
    }

    to {
        margin-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    header {
        margin: 1rem 0.5rem;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .nav-links ul {
        color: #BF8F47C2;
        display: flex;
        margin: 0 1rem;
        font-size: 1.2rem;
    }


    .nav-links {
        align-items: center;
    }


    .btn-icon-header {
        display: none;
    }
}